<!DOCTYPE html>
<html>
  <head>
    <title>Nzela.AI</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}" />
    <link rel="stylesheet" href="https://use.typekit.net/xlx2kii.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "elza", sans-serif;
      }

      body,
      html {
        height: 100%;
        line-height: 1.8;
      }

      /* Full height image header */
      .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("../static/images/dummy_splash.jpg");
        min-height: 100%;
      }

      .w3-bar .w3-button {
        padding: 16px;
      }

      .center {
        display: flex;
        justify-content: center;
        /* align-items: center; */
      }

      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .text-center {
        text-align: center;
      }

      .text-left {
        text-align: left;
      }

      .text-right {
        text-align: right;
      }

      .text-justify {
        text-align: justify;
      }

      .black-text {
        color: black;
      }

      .cards {
        display: inline-flex;
      }

      .card {
        height: 25rem;
        width: 25rem;
        /* width: 100%; */
        perspective: 40rem;
        transform-style: preserve-3d;
        position: relative;
        transition: all 1s ease-in-out;
        backface-visibility: hidden;
        margin: auto;
      }

      .front,
      .back {
        position: absolute;
        backface-visibility: hidden;
        /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
        /* background-color: grey; */
        height: 100%;
        min-width: 100%;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        color: #fff;
        /* perspective: 1000px; */
        box-shadow: 2px 4px 8px 1px rgba(black, 0.4);
      }
      .front {
        background-color: transparent;
      }

      .back {
        transform: rotateY(180deg);
        background-color: grey;
      }

      .front > p,
      .back > p {
        transform: translateZ(120px);
      }

      .card:hover {
        transform: rotateY(180deg);
      }
    </style>
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <!-- <img src="./nzela_logo_png.png" style="width: 36px; height: 10px" /> -->
        <!-- <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a> -->
        <!-- Right-sided navbar links -->
        <div class="w3-left w3-hide-small">
          <a href="#home" class="w3-bar-item w3-button">
            <img
              src="../static/images/nzela_logo_png.png"
              style="width: 100%; height: 30px"
            />
          </a>
        </div>
        <div class="w3-right w3-hide-small">
          <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
          <a href="#team" class="w3-bar-item w3-button"
            ><i class="fa fa-user"></i> TEAM</a
          >
          <a href="#projects" class="w3-bar-item w3-button"
            ><i class="fa fa-th"></i> PROJECTS</a
          >
          <!--<a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>-->
          <a href="#contact" class="w3-bar-item w3-button"
            ><i class="fa fa-envelope"></i> CONTACT</a
          >
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a
          href="javascript:void(0)"
          class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
          onclick="w3_open()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav
      class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
      style="display: none"
      id="mySidebar"
    >
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-bar-item w3-button w3-large w3-padding-16"
        >Close ×</a
      >
      <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button"
        >ABOUT</a
      >
      <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button"
        >TEAM</a
      >
      <a href="#projects" onclick="w3_close()" class="w3-bar-item w3-button"
        >PROJECTS</a
      >
      <!--<a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>-->
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button"
        >CONTACT</a
      >
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
      <div
        class="w3-display-container w3-text-white vertical-center text-center"
        style="padding: 100px"
      >
        <span class="w3-jumbo w3-hide-small"
          >Empowering progress through inclusive innovation</span
        ><br />
        <span class="w3-xxlarge w3-hide-large w3-hide-medium"
          >Empowering progress through inclusive innovation</span
        ><br />
        <span class="w3-large"
          >We offer cutting edge AI technology leaving no one behind!</span
        >
        <p>
          <a
            href="#about"
            class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"
            >Learn more and start today</a
          >
        </p>
      </div>
      <!-- <div
        class="w3-display-bottomleft w3-text-grey w3-large"
        style="padding: 24px 48px"
      >
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div> -->
    </header>

    <!-- About Section -->
    <div class="w3-container" style="padding: 128px 16px" id="about">
      <h3 class="w3-center">ABOUT US</h3>
      <p class="w3-center w3-large">
        Our vision is to democratize access to information through AI-powered
        solutions that are simple, efficient, and accessible to all, regardless
        of internet connectivity, device sophistication, or qualification.
      </p>
      <div class="w3-row-padding w3-center" style="margin-top: 64px">
        <div class="w3-quarter">
          <i class="fa fa-mobile w3-margin-bottom w3-jumbo w3-center"></i>
          <p class="w3-large">Low device requirements</p>
          <p>
            Our solutions are designed to work on the simplest devices,
            including feature phones and low-end smartphones.
          </p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-language w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Natural language processing:</p>
          <p>
            Our solutions understand and respond to natural language queries.
          </p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-pie-chart w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Analytics and reporting</p>
          <p>
            We provide analytics and reporting tools to help you track usage and
            gain insights into user behavior.
          </p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-angle-double-up w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Scalable Solutions</p>
          <p>
            We accommodate changing business needs. Our solutions can grow with
            your business.
          </p>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!-- Promo Section - "Leave no one behind" -->
    <div class="w3-container w3-light-grey" style="padding: 128px 16px">
      <div class="w3-row-padding">
        <div class="w3-col m6 text-justify">
          <h3>
            Nzela: the Lingala word for 'road', 'path' or 'way'.<br />A symbol
            of our mission to pave a path towards knowledge, accessible to all,
            with or without the internet, and through the simplest devices.
          </h3>
          <h5>See how we are working towards this goal.</h5>
          <p>
            <a href="#projects" class="w3-button w3-black"
              ><i class="fa fa-th"> </i> View Our Projects</a
            >
          </p>
        </div>
        <div class="w3-col m6">
          <img
            class="w3-image w3-round-large"
            src="https://www.w3schools.com/w3images/phone_buildings.jpg"
            alt="Buildings"
            width="700"
            height="394"
          />
        </div>
      </div>
    </div>

    <!-- Team Section -->
    <div class="w3-container" style="padding: 128px 16px" id="team">
      <h3 class="w3-center">MEET THE TEAM</h3>
      <div class="w3-row-padding w3-grayscale center" style="margin-top: 64px">
        <div class="cards">
          <div class="w3-col m6 w3-margin-bottom">
            <div class="w3-container">
              <div class="card">
                <div class="front">
                  <img
                    src="../static/images/samuel profile.png"
                    alt="sam"
                    style="width: 100%"
                  />
                </div>
                <div class="back text-justify" style="padding: 10%">
                  <h5>
                    A talented Biomedical Engineering student with expertise in
                    machine learning and a deep interest in the intersection of
                    robotics, healthcare, and AI. With a focus on GANs,
                    Convolutional Autoencoders, and Natural Language Processing,
                    he has a strong technical background in the application of
                    AI technologies to complex problems.
                  </h5>
                </div>
              </div>
              <div class="w3-container text-center">
                <h3>Samuel Lee Cong</h3>
                <h5 class="w3-opacity">Project Manager</h5>
              </div>
            </div>
          </div>
          <div class="w3-col m6 w3-margin-bottom">
            <div class="w3-container">
              <div class="card">
                <div class="front">
                  <img
                    src="../static/images/solomon profile.png"
                    alt="solo"
                    style="width: 100%"
                  />
                </div>
                <div class="back text-justify" style="padding: 10%">
                  <h5>
                    Holds Master of economics in financial engineering, nano
                    degrees in AI and ML, and a data science professional
                    certification. He has exceptional analytical skills,
                    technical expertise, and business acumen to assess and
                    manage risk, identify key business opportunities, and
                    develop strategic plans.
                  </h5>
                </div>
              </div>
              <div class="w3-container text-center">
                <h3>Toliva Solomon Iwutung</h3>
                <h5 class="w3-opacity">Research</h5>
              </div>
            </div>
          </div>
          <div class="w3-col m6 w3-margin-bottom">
            <div class="w3-container">
              <div class="card">
                <div class="front">
                  <img
                    src="../static/images/bosco profile.png"
                    alt="bosco"
                    style="width: 100%"
                  />
                </div>
                <div class="back text-justify" style="padding: 10%">
                  <h5>
                    A creative and driven founder with a passion for optimizing
                    business processes and improving user experience. With a
                    deep understanding of psychology, he has a unique
                    perspective on human behavior that could be valuable in
                    developing AI solutions. As the founder of a successful 3D
                    printing startup, he has a proven track record of innovation
                    and strategic thinking.
                  </h5>
                </div>
              </div>
              <div class="w3-container text-center">
                <h3>Franco Bosio</h3>
                <h5 class="w3-opacity">Business Development</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Projects Section -->
    <div class="w3-container" style="padding: 128px 16px" id="projects">
      <h3 class="w3-center">OUR PROJECTS</h3>
      <!-- <p class="w3-center w3-large">The ones who runs this company</p> -->
      <div class="w3-row-padding w3-grayscale" style="margin-top: 64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="../static/images/mavqa.png"
              alt="mavqa"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>MaverickQA</h3>
              <!-- <p class="w3-opacity">Project Manager </p> -->
              <p>
                Revolutionize the way you gather knowledge with MaverickAI. Our
                cutting-edge AI QnA bot allows you to access up to date
                information via SMS service, without needing access to the
                internet. With accurate summaries presented in a digestible
                manner, MaverickAI saves you time and money, and empowers you
                with knowledge that can add value to your life.
              </p>
              <!-- <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p> -->
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="../static/images/react.png"
              alt="react"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>REACT</h3>
              <!-- <p class="w3-opacity">R & D</p> -->
              <p>
                In emergency situations, quick access to accurate information
                can mean the difference between life and death. With REACT, our
                specialized search engine, you can save information to databases
                and access it via SMS or web portal, even without internet. With
                artificial intelligence integration, REACT provides key
                protocols and information to citizens, making it an invaluable
                resource for disaster management or epidemics.
              </p>
              <!-- <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p> -->
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="../static/images/alert.png"
              alt="alert"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>ALERT</h3>
              <!-- <p class="w3-opacity">Business Development</p> -->
              <p>
                Maximize your targeting with ALERT. Our classification and
                tagging system allows companies to group users and provide
                opportunities for targeted advertising with MaverickAI, or risk
                identification with REACT. This complement to our other products
                allows you to reach the right audience at the right time,
                driving results and improving efficiency.
              </p>
              <!-- <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p> -->
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="../static/images/ai_assist.png"
              alt="asist"
              style="width: 100%"
            />
            <div class="w3-container">
              <h3>Custom AI assistants</h3>
              <!-- <p class="w3-opacity">Designer</p> -->
              <p>
                Need an AI assistant to handle specific tasks or information for
                you? Our team can create a custom AI assistant to meet your
                needs. Your AI assistant will help you save time and get things
                done. Get started today and experience the benefits of having
                your own personalized AI
              </p>
              <!-- <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for full size images on click-->
    <div
      id="modal01"
      class="w3-modal w3-black"
      onclick="this.style.display='none'"
    >
      <span
        class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright"
        title="Close Modal Image"
        >×</span
      >
      <div
        class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64"
      >
        <img id="img01" class="w3-image" />
        <p id="caption" class="w3-opacity w3-large"></p>
      </div>
    </div>

    <!-- Contact Section -->
    <div
      class="w3-container w3-light-grey"
      style="padding: 128px 16px"
      id="contact"
    >
      <h3 class="w3-center">CONTACT US</h3>
      <p class="w3-center w3-large">
        With your partnership and expertise we can build great things together!
        Reach out to us and someone from Nzela.AI will get in touch soon!
      </p>
      <div style="margin-top: 48px">
        <!-- <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
    <br> -->
        <form action="/action_page.php" target="_blank">
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Name"
              required
              name="Name"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Email"
              required
              name="Email"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Subject"
              required
              name="Subject"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Message"
              required
              name="Message"
            />
          </p>
          <p>
            <button class="w3-button w3-black" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
          </p>
        </form>
        <!-- Image of location/map -->
        <img
          src="https://www.w3schools.com/w3images/map.jpg"
          class="w3-image w3-greyscale"
          style="width: 100%; margin-top: 48px"
        />
      </div>
    </div>

    <!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
    <footer class="w3-center w3-black w3-padding-64">
      <a href="#home" class="w3-button w3-light-grey"
        ><i class="fa fa-arrow-up w3-margin-right"></i>Back to the top</a
      >
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <!-- <p class="w3-small">
        This website was made with W3schools Spaces. Make your own free website
        today!
      </p>
      <a
        class="w3-button w3-round-xxlarge w3-small w3-light-grey w3-margin-bottom"
        href="https://www.w3schools.com/spaces"
        target="_blank"
        >Start now</a
      > -->
    </footer>

    <script>
      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }

      // Toggle between showing and hiding the sidebar when clicking the menu icon
      var mySidebar = document.getElementById("mySidebar");

      function w3_open() {
        if (mySidebar.style.display === "block") {
          mySidebar.style.display = "none";
        } else {
          mySidebar.style.display = "block";
        }
      }

      // Close the sidebar with the close button
      function w3_close() {
        mySidebar.style.display = "none";
      }
    </script>
  </body>
</html>
